 <br />
<%= render "layouts/navbar" %>
 
<h1>Welcome to iTrip!<h1>
<h2>Trips:</h2>
<hr>

<ul class="ui animated list">
<% @trips.each do |trip| %>
    <div class="item">
    <li>
        <div class="header">
        <h3><%= link_to trip.name, trip_path(trip) %></h3>
        </div>
    </li>
    </div>
<% end %>
</ul>
<hr>
<%= link_to "New", new_trip_path, class: "ui inverted purple button" %>
