<br />
<h1 class="ui header">Welcome to iTrip!</h1> 
<table class="ui striped table">
  <thead>
    <tr class="center aligned">
      <th colspan="4"></th>
    </tr>
    <div class="ui two item menu">
    <div class="header item">
      Home
    </div>
    <a class="header item">
      Log Out
    </a>
  </div>
  </thead>


