<br />
    <nav class="ui pointer menu">
    <%= link_to "Home", trips_path, class: "ui inverted blue button" %>
 <div class="right menu">
    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "ui inverted blue button" %>
 </nav>


