<h3 class="ui right floated button">
<%= link_to "Home", trips_path, class: "ui inverted purple button" %>
<%= link_to "Logout", destroy_user_session_path, method: :delete, class: "ui inverted purple button" %>
</h3>

